*{
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
/* header */
.header{
    display: flex;
    width: 100%;
    height: 5rem;
    background-color:#b8b8b8;
    border-radius: 0;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    padding: 5px;
    flex-direction: row;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header .nav{
    cursor: pointer;
}
.header .logo a img{
    height: 80px;
    width: auto;
}
.header .nav .list__nav{
    list-style: none;
}
.header .nav .list__nav li{
    display: inline-block;
    padding: 0 20px;
}
.nav__item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item:hover{
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.nav__item:after{
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
@media(max-width: 700px){
    .header{
        height: 20%;
        background-color: #185947;
        display: flex;
        flex-direction: column;
    }
}
.btnav{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway';
    font-size: 1rem;
    background-color: #986632;
}
.btnav:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btnav:hover:after {
    opacity: 1;
    right: 10px;
}
.btnav:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
/* boxhazel */
.boxhazel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    color: #0D0D0D;
    margin-bottom: 10rem;
}
.hazelizq{
    margin: 30px;
    padding: 5px;
    flex-direction: column;
    line-height: 1.5;
    text-align: left;
}
.hazelizq h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}
.hazelizq p{
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    letter-spacing: 0.2rem;
}
.hazelder img{
    display: block;
    width: auto;
    height: 30rem;
    opacity: 0.7;
}
/* productos */
.box__prod{
    display:flex;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    width: 100%;
    height: 30rem;
    background-color: #b8b8b86e;
}
.prodleft{
    padding-left: 25px;
}
h2{
    font-family: 'Raleway', bold;
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin-top: 15px;
}
.prodleft p{
    max-width: 50rem;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    padding-bottom: 15px;
    letter-spacing: 0.1rem;
    font-size: 18px;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #185947;
}
.btn:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btn:hover:after {
    opacity: 1;
    right: 10px;
}
.btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.prodder{
    padding-right: 25px;
}
.prodder h3{
    font-family: 'Raleway';
    text-align: right;
    padding: 10px;
}
.prodimg{
    border-radius: 5px;
    width: 15rem;
    height: auto;
}
hr{
    height: 5px;
    border-radius: 10px;
    background: #185947de;
}
/* diseño int */
.boxinterior{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 100%;
    padding: 3rem;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/boxinter.webp);
}
.boxinterior h2{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.boxinterior h3{
    font-family: 'Raleway', sans-serif;
    color: #262626;
    margin: 50px;
}
/* galeria */
.box__galeria{
    text-align: center;
}
.column img{
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
}
.column img:hover{
    opacity: 0.4;
    box-shadow: #262626;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}
@media (max-width: 800px){
    .column{
        flex:50%;
    }
}
@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}
/* iconos de medios de pago */
.iconos__compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
}
.icono{
    height: 250px;
    width: 250px;
    font-family:sans-serif;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px;

}
.icono h3{
    color: #185947;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}
.icono h4{
    text-align: center;
    font-weight: 200;
    color: #262626;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    margin: 10px;
}
.iconos__compra div img{
    height: 180px;
    width: auto;
    border-radius: 50px;
}
/* footer */
.footer{
    height: 250px;
    width: 100%;
    margin-top: 10px;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.footericons{
    text-align: center;
    color: #b8b8b8;
    padding: 2rem;
}
.encontranos{
    margin-top: 0px;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.footericons .icon svg{
    height: 2rem;
    width: auto;
    padding: 0.5rem;
    color: #b8b8b8;
}
.footericons .icon svg:hover{
    color: #8C6C5A;
}
.footerlogo{
    text-align: center;
    color: #b8b8b8;
    margin: 30px;
}
.footerlogo a img{
    margin-bottom: 0;
    height: auto;
    width: 15rem;
    padding: 1rem;
}
.footerlogo p{
    color: #b8b8b8;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0.5rem;
}
.footerlogo a{
    padding: 0;
    color: #b8b8b8;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.footerlogo a:hover{
    font-style: italic;
}
.footerlogo small{
    font-size: 0.7rem;
    font-family: 'Comfortaa', cursive;
}
.listafin .ulistafin li{
    list-style-type: none;
    text-align: left;
}
.ulistafin{
    line-height: 1.5;
}
.listafin{
    padding: 2rem;
    color: #b8b8b8;
}
.ulistafin li a{
    font-size: 15px;
    text-decoration: none;
    color: #b8b8b8;
    font-family: 'Comfortaa', cursive;
}
.ulistafin li a:hover{
    font-style: italic;
}
/* PAG PRODUCTOS */
.pag__prod {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 1.2fr 1.2fr 0.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header"
    "h2__org h2__org h2__org h2__org"
    "li__prods div__img1 div__img2 div__img3"
    "li__prods div__img5 div__img6 div__img7"
    "footer footer footer footer";
}

.header { 
    grid-area: header; 
}
.li__prods { 
    grid-area: li__prods; 
    font-family: 'Raleway', sans-serif;
    margin-top: 5rem;
    align-self: start;

}
.h2__org { 
    grid-area: h2__org;
    font-weight: 300;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #18594757; 
}
.list__boostrap li a{
    text-decoration: none;
    color: #fff;
}
.li__prods h2{
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}
.li__prods ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.li__prods ul li{
    width: 150px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    background-color: #8C6C5A;
}
.div__img{
    display: column;
    border-radius: 10px;
    padding: 10px;
    background-color: #98673273;
    margin: 5px;
    height: 350px;
    width: fit-content;
}
.div__img h3{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 10px;
}
.div__img img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.div__img img:hover{
    opacity: 0.4;
    box-shadow: #262626;
}
.footer { 
    grid-area: footer;
    margin-top: px;
}