*{
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* header */
.header{
    display: flex;
    width: 100%;
    height: 5rem;
    background-color:#b8b8b8;
    border-radius: 0;
    justify-content:space-around;
    align-items: center;
    margin: 0;
    padding: 2.5rem;
    flex-direction: row;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header .nav{
    cursor: pointer;
}
.header .logo a img{
    height: 4rem;
    width: auto;
}
.header .nav .list__nav{
    list-style: none;
}
.header .nav .list__nav li{
    display: inline-block;
    padding: 0;
    margin: 2rem;
}
.nav__item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item:hover{
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.nav__item:after{
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.btnav{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Raleway';
    font-size: 1rem;
    background-color: #986632;
}
.btnav:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btnav:hover:after {
    opacity: 1;
    right: 10px;
}
.btnav:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
/* boxhazel */
.boxhazel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    color: #0D0D0D;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.hazelizq{
    margin: 2rem;
    flex-direction: column;
    line-height: 1.5;
    text-align: left;
}
.hazelizq h1{
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}
.hazelizq p{
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    letter-spacing: 0.2rem;
}
.hazelder{
    width: 80%;
    height: 30rem;
    overflow: hidden;
}
.hazelder img{
    height: 40rem;
    opacity: 0.7;
    width: max-content;
}
/* productos index */
.box__prod{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
}
.prodder{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 40%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
}
.prodder h3{
    font-style: italic; /* aca una font manuscrita */
}
.prodder img{
    padding: 0;
    width: 30rem;
    border-radius: 0.5rem;
}
.prodleft{
    align-self: center;
    justify-self: start;
    margin-left: 1rem;
}
h2{
    font-family: 'Raleway', bold;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.prodleft__p{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    letter-spacing: 0.1rem;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn{
    min-width: 7.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    outline: none;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 0.3rem;
    border: none;
    background-color: #185947;
}
.btn:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btn:hover:after {
    opacity: 1;
    right: 10px;
}
.btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.prodder h3{
    font-family: 'Raleway';
    text-align: right;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.prodimg{
    border-radius: 2.5rem;
    width: 40rem;
    height: auto;
    padding: 2rem;
}
hr{
    height: 0.4rem;
    border-radius: 0.3rem;
    background: #185947de;
}
/* diseño int */
.boxinterior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
}
.boxinterior h2{
    font-family: 'Raleway';
    text-transform: uppercase;
}
.boxinterior h3{
    font-family: 'Raleway', sans-serif;
    color: #262626;
    margin: 2rem;
}

/* galeria */
.box__galeria{
    background-color: #185947;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.box__galeria p{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    letter-spacing: 0.1rem;
}
.column img{
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
}
.column img:hover{
    opacity: 0.4;
    box-shadow: #262626;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}

/* iconos de medios de pago */
.iconos__compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.icono{
    height: 20%;
    margin: 2rem;
    padding: 1rem;
    font-family:sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.icono h3{
    color: #185947;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
}
.icono h4{
    text-align: center;
    font-weight: 200;
    color: #262626;
    font-family: 'Comfortaa', cursive;
    margin: 1rem;
}
.iconos__compra div img{
    height: 10rem;
    width: auto;
}
/* footer */
.footer{
    height: 20rem;
    width: 100%;
    margin-top: 10rem;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.footericons{
    text-align: center;
    color: #b8b8b8;
    padding: 2rem;
}
.encontranos{
    margin-top: 0px;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.footericons .icon svg{
    height: 2rem;
    width: auto;
    padding: 0.5rem;
    color: #b8b8b8;
}
.footericons .icon svg:hover{
    color: #8C6C5A;
}
.footerlogo{
    text-align: center;
    color: #b8b8b8;
    margin: 30px;
}
.footerlogo a img{
    margin-bottom: 0;
    height: auto;
    width: 15rem;
    padding: 1rem;
}
.footerlogo p{
    color: #b8b8b8;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0.5rem;
}
.footerlogo a{
    padding: 0;
    color: #b8b8b8;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.footerlogo a:hover{
    font-style: italic;
}
.footerlogo small{
    font-size: 0.7rem;
    font-family: 'Comfortaa', cursive;
}
.listafin .ulistafin li{
    list-style-type: none;
    text-align: left;
}
.ulistafin{
    line-height: 1.5;
}
.listafin{
    padding: 2rem;
    color: #b8b8b8;
}
.ulistafin li a{
    font-size: 15px;
    text-decoration: none;
    color: #b8b8b8;
    font-family: 'Comfortaa', cursive;
}
.ulistafin li a:hover{
    font-style: italic;
}


/* PAG PRODUCTOS */
.pag__prod {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.6fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header"
    "h2__org h2__org h2__org h2__org"
    "li__prods div__img1 div__img2 div__img3"
    "li__prods div__img5 div__img6 div__img7"
    "footer footer footer footer";
}
.header { 
    grid-area: header; 
}
.li__prods { 
    grid-area: li__prods; 
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    align-self: start;
}
.h2__org { 
    grid-area: h2__org;
    font-weight: 4rem;
    text-align: center;
    align-self:center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #18594757; 
    font-style: bold;
}
.prods__acordion{
    margin-left: 2rem;
    padding: 0 3rem;
}
.prod__acordion-h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.boostrap__list{
    align-items: flex-start;
}
.list__boostrap{
    list-style-type: "└  ";
}
.list__boostrap li a{
    color: #0D0D0D;
    text-decoration: none;
}
.list__boostrap li a:hover{
    color: #185947;
    text-decoration: underline;
}
.div__img{
    align-self: start;
    justify-self: center;
}
.prod__img{
    overflow: hidden;
    height: 25rem;
    width: 25rem;
    margin: 1rem;
}
.prod__img:hover img{
    transform:scale(1.2);
}
.prod__img img{
    align-self: flex-start;
    width: 100%;
}
.prod__text{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.prod__text h3, p{
    margin: 1rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
.prod__text strong{
    color: #185947;
    margin: 2rem;
}
.btn__comprar{
    margin: 1rem;
    min-width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #185947;
}
.btn__comprar:hover{
    color: #fff;
    text-decoration: none;
}
.btn__comprar:hover:after {
    height: 100%;
}
.btn__comprar:after{
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #185947;
}
.btn__comprar a{
    text-decoration: none;
    color: #185947;
}
.btn__comprar a:hover{
    color: #fff;
}
.footer { 
    grid-area: footer;
    margin-top: 10rem;
}
/* media home index */
@media(max-width: 800px){
    .body {
        margin: 0;
        padding: 0;
    }
    .main{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        width: auto;
        height: 3rem;
        background-color: #185947;
        text-align: center;
    }
    .nav{
        margin-top: 7rem;
        width: 100%;
    }
    .logo{
        position: relative;
        margin-bottom: rem;
        margin-top: 2rem;
    }
    .header .nav .list__nav li{
        margin: 0.2rem;
    }
    .nav__item{
        font-size: 0.7rem;
        margin-top: 3rem;
        padding: 0;
    }
    .btnav{
        display: none;
    }
    .boxhazel{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .hazelizq{
        padding: 0;
        margin: 0;
        margin-top: 3rem;
    }
    .hazelizq h1{
        font-size: 2rem;
        text-align: center
    }
    .hazelizq p{
        font-size: 0.8rem;
        text-align: center;
        padding: 0;
    }
    .hazelder{
        width: 100%;
        height: 50%;
    }
    .hazelder img{
        overflow-x: hidden;
        height: 100%;
        width: auto;
        padding: 0;
        margin: 0;
    }
    .box__prod{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
    }
    .prodleft,.prodleft__p{
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
    .prodder h3{
        margin: 1rem;
    }
    .prodder{
        padding: 0;
        width: 90%;
    }
    .prodder img{
        width:80%;
    }
    .boxinterior{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .iconos__compra{
        display: block;
        margin: 0;
        padding: 0;
    }
    .column{
        flex:50%;
    }
    .box__galeria{
        padding: 0;
        margin: 0;
    }
    .iconos__compra{
        margin-top: 3rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon icon",
        "icon icon";
    }
    .icono{
        grid-area: "icon";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        font-family:sans-serif;
        height: max-content;
        padding: 0;
        font-size: small;
        background-color: #1859479f;
        border-radius: 2rem;
        height: 12rem;
    }
    .icono h3{
        padding: 0.1rem;
        font-size: medium;
        font-style: bold;
        color: #fff;
    }
    .icono h4{
        color: aliceblue;
    }
    .img__icon{
        display: none;
    }
    hr{
        display: none;
    }
    .footer{
        height: 20%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 6rem;
    }
    .footerlogo p{
        text-align: center;
    }
    .listafin{
        display: none;
    }
}
@media (max-width: 600px){
    .column{
        flex: 100%;
    }
    .column_resp{
        display: none;
    }
}
/* media pagina productos */
@media (max-width: 600px){

}
