/* /* comentario que compila */
* {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

  /* styles de base */
.main {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

  /* header */

/* boxhazel */
.boxhazel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    color: #0D0D0D;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.hazelizq{
    margin: 2rem;
    flex-direction: column;
    line-height: 1.5;
    text-align: left;
}
.hazelizq h1{
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}
.hazelizq p{
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    letter-spacing: 0.2rem;
}
.hazelder{
    width: auto;
    height: 100%;
    overflow: hidden;
}
.hazelder img{
    height: 100%;
    width: auto;
    opacity: 0.7;
    
}
/* productos index */
.box__prod{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
}
.prodder{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 40%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
}

.prodder img{
    padding: 0;
    width:100%;
    height: auto;
    border-radius: 0.5rem;
}
.prodleft{
    align-self: center;
    justify-self: start;
    margin-left: 1rem;
}
h2{
    font-family: 'Raleway', bold;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.prodleft__p{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #262626;
    letter-spacing: 0.1rem;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn{
    min-width: 7.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    outline: none;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 0.3rem;
    border: none;
    background-color: #185947;
}
.btn:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}
.btn:hover:after {
    opacity: 1;
    right: 10px;
}
.btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.prodder h3{
    font-family: 'Raleway';
    text-align: right;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.prodimg{
    border-radius: 2.5rem;
    width: 40rem;
    height: auto;
    padding: 2rem;
}
hr{
    height: 0.4rem;
    border-radius: 0.3rem;
    background: #185947de;
}
/* diseño int */
.boxinterior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
}
.boxinterior h2{
    font-family: 'Raleway';
    text-transform: uppercase;
}
.boxinterior h3{
    font-family: 'Raleway', sans-serif;
    color: #262626;
    margin: 2rem;
}

/* galeria */
.box__galeria{
    background-color: #185947;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.box__galeria p{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    letter-spacing: 0.1rem;
}
.column img{
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
}
.column img:hover{
    opacity: 0.4;
    box-shadow: #262626;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}

/* iconos de medios de pago */
.iconos__compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.icono{
    height: 20%;
    margin: 2rem;
    padding: 1rem;
    font-family:sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.icono h3{
    color: #185947;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
}
.icono h4{
    text-align: center;
    font-weight: 200;
    color: #262626;
    font-family: 'Comfortaa', cursive;
    margin: 1rem;
}
.iconos__compra div img{
    height: 10rem;
    width: auto;
}
/* footer */
.footer{
    height: 20rem;
    width: 100%;
    margin-top: 10rem;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.footericons{
    text-align: center;
    color: #b8b8b8;
    padding: 2rem;
}
.encontranos{
    margin-top: 0px;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.footericons .icon svg{
    height: 2rem;
    width: auto;
    padding: 0.5rem;
    color: #b8b8b8;
}
.footericons .icon svg:hover{
    color: #8C6C5A;
}
.footerlogo{
    text-align: center;
    color: #b8b8b8;
    margin: 30px;
}
.footerlogo a img{
    margin-bottom: 0;
    height: auto;
    width: 15rem;
    padding: 1rem;
}
.footerlogo p{
    color: #b8b8b8;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0.5rem;
}
.footerlogo a{
    padding: 0;
    color: #b8b8b8;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.footerlogo a:hover{
    font-style: italic;
}
.footerlogo small{
    font-size: 0.7rem;
    font-family: 'Comfortaa', cursive;
}
.listafin .ulistafin li{
    list-style-type: none;
    text-align: left;
}
.ulistafin{
    line-height: 1.5;
}
.listafin{
    padding: 2rem;
    color: #b8b8b8;
}
.ulistafin li a{
    font-size: 15px;
    text-decoration: none;
    color: #b8b8b8;
    font-family: 'Comfortaa', cursive;
}
.ulistafin li a:hover{
    font-style: italic;
}


/* PAG PRODUCTOS */

.li__prods { 
    grid-area: li__prods; 
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    align-self: start;
}
.h2__org { 
    grid-area: h2__org;
    font-weight: 4rem;
    text-align: center;
    align-self:center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #18594757; 
    font-style: bold;
}
.prods__acordion{
    margin-left: 2rem;
    padding: 0 3rem;
}
.prod__acordion-h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.boostrap__list{
    align-items: flex-start;
}
.list__boostrap{
    list-style-type: "└  ";
}
.list__boostrap li a{
    color: #0D0D0D;
    text-decoration: none;
}
.list__boostrap li a:hover{
    color: #185947;
    text-decoration: underline;
}
.container__prods{
    grid-area: productos;
    display: contents;
    flex-wrap: wrap;
}
.div__img{
    align-self: start;
    justify-self: center;
}
.prod__img{
    overflow: hidden;
    height: 25rem;
    width: 25rem;
    margin: 1rem;
}
.prod__img
.prod__img 
.prod__text{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.prod__text h3, p{
    margin: 1rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
.prod__text strong{
    color: #185947;
    margin: 2rem;
}
.btn__comprar{
    margin: 1rem;
    min-width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #185947;
}
.btn__comprar:hover{
    color: #fff;
    text-decoration: none;
}
.btn__comprar:hover:after {
    height: 100%;
}
.btn__comprar:after{
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #185947;
}
.btn__comprar a{
    text-decoration: none;
    color: #185947;
}
.btn__comprar a:hover{
    color: #fff;
}
.footer { 
    grid-area: footer;
    margin-top: 10rem;
}
/* media home index mobile */
@media(max-width: 937px){
    .body {
        margin: 0;
        padding: 0;
    }
    .main{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .mi__header{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 4rem;
        background-color: #185947;
        text-align: center;
    }
    .mi__nav{
        margin-top: 7rem;
        width: 100%;
    }
    .logo{
        position: relative;
        margin-top: 2rem;
    }
    .list__minav{
        margin-top: 3rem;
        padding: 0;
    }
    .list__minav li{
        margin: 0;
        padding: 0;
    }
    .minav__item{
        font-size: 0.7rem;
        margin-top: 3rem;
        padding: 0;
    }
    .btnav{
        display: none;
    }
    .boxhazel{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .hazelizq{
        padding: 0;
        margin: 0;
        margin-top: 3rem;
    }
    .hazelizq h1{
        font-size: 2rem;
        text-align: center
    }
    .hazelizq p{
        font-size: 0.8rem;
        text-align: center;
        padding: 0;
    }
    .hazelder img{
        overflow-x: auto;
        height: auto;
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    .box__prod{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
    }
    .prodleft,.prodleft__p{
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
    .prodder h3{
        margin: 1rem;
    }
    .prodder{
        padding: 0;
        width: 90%;
    }
    .prodder img{
        width:80%;
        height: auto;
    }
    .boxinterior{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .iconos__compra{
        display: block;
        margin: 0;
        padding: 0;
    }
    .column{
        flex:50%;
    }
    .box__galeria{
        padding: 0;
        margin: 0;
    }
    .iconos__compra{
        margin-top: 3rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon icon",
        "icon icon";
    }
    .icono{
        grid-area: "icon";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        font-family:sans-serif;
        height: max-content;
        padding: 0;
        font-size: small;
        background-color: #1859479f;
        border-radius: 2rem;
        height: 12rem;
    }
    .icono h3{
        padding: 0.1rem;
        font-size: medium;
        font-style: bold;
        color: #fff;
    }
    .icono h4{
        color: aliceblue;
    }
    .img__icon{
        display: none;
    }
    hr{
        display: none;
    }
    .footer{
        height: 20%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 6rem;
    }
    .footerlogo p{
        text-align: center;
    }
    .listafin{
        display: none;
    }
    .column{
        flex: 100%;
    }
    .column_resp{
        display: none;
    }
}

/* media query max 1023px - INDEX - tablet */
@media (min-width: 938px) and (max-width: 1023px){
    
    .box__prod{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        margin: 2rem;
    }
    .prodleft,.prodleft__p{
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
    .prodder h3{
        margin: 2rem;
    }
    .prodder{
        padding: 0;
        width: 90%;
    }
    .prodder img{
        width:80%;
    }
    .iconos__compra{
        margin-top: 3rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon icon",
        "icon icon";
    }
    .icono{
        grid-area: "icon";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        font-family:sans-serif;
        height: max-content;
        padding: 0;
        font-size: small;
        background-color: #1859479f;
        border-radius: 2rem;
        height: 12rem;
    }
    .icono h3{
        padding: 0.1rem;
        font-size: medium;
        font-style: bold;
        color: #fff;
    }
    .icono h4{
        color: aliceblue;
    }
    .img__icon{
        display: none;
    }
    hr{
        display: none;
    }
    .column{
        flex: 50%;
    }
}

/* media query pag galeria */

@media (min-width: 938px) and (max-width: 1023px){
    .column{
        flex: 50%;
    }
    .column_resp{
        display: none;
    }
}

/* media query pagina productos mobile */
@media(max-width: 767px){
    .body {
        margin: 0;
        padding: 0;
    }
    .main{
        margin: 0;
        padding: 0;
    }
    .h2__org h2{
        display: flex;
        padding-left: 3rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .logo__mq{
        display: none;
    }
    .mi__nav{
        margin: 0;
        padding-top: 3rem;
    }
    .prods__acordion{
        margin: 0;
        padding: 0;
    }
    .h2__org{
        padding-left: 1rem;
        font-size: small;
        margin: 0;
        padding: 0;
    }
    .pag__prod { 
        display: grid; 
        height: 100vh;
        margin: 0%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        gap: 0.5rem;
        grid-template-areas:
        "header"
        "h2__org"
        "productos"
        "footer";
    }
    .container__prods{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "prod1 prod2"
        "prod4 prod5"
        "prod6 prod3";
    }
    .prod1{
        grid-area: prod1;
    }
    .prod2{
        grid-area: prod2;
    }    
    .prod3{
        grid-area: prod3;
    }
    .prod4{
        grid-area: prod4;
    }
    .prod5{
        grid-area: prod5;
    }
    .prod6{
        grid-area: prod6;
    }
    .div__img{
        width: auto;
        height: auto;
        align-self: center;
        justify-self: center;
        height: auto;
        padding: 0;
        margin: 0.5rem;
    }
    .prod__img{
        width: 100%;
        height: 20rem;
    }
    .prod__img img{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .prod__text{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        justify-content: center;
        background-color: #9867326e;
        border-radius: 0px 0px 5px 5px;
    }
    .prod__text h3{
        font-size: 1.5rem;
    }
    .prod__text strong{
        color: #986632;
        background-color: #fff;
        padding: 0.2rem;
        border-radius: 0px 0px 5px 5px;
    }
    .prod__text p{
        text-align: center;
        margin: 0.5rem;
    }
    .btn__comprar{
        border: none;
        background-color: #986632;
        border-radius: 0px 0px 5px 5px;
    }
    .btn__comprar a{
        margin: 0;
        padding: 0;
        color:#ffffff;
    }
    .li__prods{
        display: none;
    }
    .prod__text strong, p{
        margin: 0;
    }
    .prod__img{
        margin: 0;
        padding: 0;
    }
    .footer{
        height: 400px;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        align-self: end;
    }
    .footerlogo p{
        text-align: center;
    }
}

/* media query max 1023px - tablet  - pagina productos*/
@media (min-width: 768px) and (max-width: 1023px){
    .prods__acordion{
        margin: 0;
        padding: 0;
    }
}