@import 'vars';

.box__faq{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    .boxfaq__title{
        h2{
            @extend .h2Var;
            margin: 5rem;
        }
    }
        div{
            .aq{
                background-color: $color__bg;
                border-radius: 0.5rem;
                margin: 1rem;
                h3{
                    @extend .h3Var;
                    margin: 1rem;
                    padding: 1rem;
                }
                p{
                    @extend .pVar;
                    margin: 1rem;
                    padding: 1rem;
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            font-style: italic;
                        }
                    }
                }
                }
            }
}
/* media querys pag faqs */
@media(max-width: 938px){
    .footer{
    margin: 20rem;
    height: 30%;
    padding: 5rem;
    .footerlogo p{
        text-align: center;
    }
    .listafin{
        display: none;
    }
}
}

@media (min-width: 938px) and (max-width: 1023px){
    body{
        color: red;
    }
}