@import 'vars';

.box__faq{
    font-family: 'Raleway', bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    .box__faq-p{
        margin: 1rem;
        padding: 1rem;
        width: 60%;
        font-size: 1.2rem;
    }
        h2{
            @extend .h2Var;
            text-align: center;
            width: 60%;
        }
        .box__aq{
            display: flex;
            flex-direction: column;
            .aq{
                background: #98673265;
                background: -webkit-linear-gradient(to left, #d8934971, #986632);
                background: linear-gradient(to top, #986732c0, #986732c5); 
                border-radius: 0.5rem;
                width: 60%;
                margin: 1rem;
                padding: 1rem;
                h3{
                    margin: 1rem;
                    padding: 1rem;
                }
                p{
                    @extend .pVar;
                    margin: 1rem;
                    padding: 1rem;
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            font-style: italic;
                        }
                    }
                }
                }
            }
}
/* media querys pag faqs mobile */
@media(max-width: 767px){
    .mainfaq{
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $color__bg;
        color: white;
        .box__faq{
            h2{
                width: 100%;
            }
            p{
                width: 100%;
                padding: 0 1rem;
            }
            .box__aq{
                margin: 0;
                .aq{
                    border-radius: 0;
                    color: black;
                    margin: 1rem;
                    width: 100%;
                }
            }
        }
    }
    .footer__resp{
        margin: 20rem;
        height: 30%;
        padding: 5rem;
        .footerlogo p{
            text-align: center;
        }
        .listafin{
            display: none;
        }
    }
}
/* media query s pag faqs tablet */

@media (min-width: 938px) and (max-width: 1023px){

}