@import 'vars';


.body__galeria{
    background-color: #185947;
}
.box__galeria{
        background-color: #185947;
        text-align: center;
        border-radius: 0.5rem;
        padding: 3rem;
        margin: 2rem 0;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        h2{
            @extend .h2Var;
        }
        p{
            text-align: center;
            font-family: 'Comfortaa', cursive;
            color: #fff;
            letter-spacing: 0.1rem;
        }
        .row{
            display: flex;
            padding: 5px;
            flex-wrap: wrap;
            .column{
                flex: 25%;
                padding: 5px;
            }
            .column img{
            width: 100%;
            border-radius: 20px;
            margin-top: 5px;
            padding: 10px;
            &:hover{
                opacity: 0.4;
                box-shadow: #262626;
                }
            }
        }
}
.footer{
    @extend .footerVar;
}

/* media query pag galeria */
@media(max-width: 767px){
    .box__galeria{
        border-radius: 0;
    }
    .footer_resp{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 2rem;
        padding: 1rem;
        .footericons{
            padding: 0;
            margin: 2rem 0;
        }
        .footerlogo{
            margin: 0;
        }
        .listafin{
            .ulistafin{
                display: none;
            }
        }
    }
}

/* media query pag galeria */
@media (min-width: 768px) and (max-width: 1023px){
    .box__galeria{
        border-radius: 0;
    }
    .column{
        flex: 50%;
    }
    .column_resp{
        display: none;
    }
}