
@import 'vars';

/* media home index mobile */
@media(max-width: 937px){
    .main{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .body {
        margin: 0;
        padding: 0;
    }
    .main{
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }

/* termina nav */
    .boxhazel{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
        margin-bottom: 0;
        .hazelizq{
            padding: 0;
            margin: 0;
            margin-top: 3rem;
            h1{
                font-size: 2rem;
                text-align: center
            }
            p{
                font-size: 0.8rem;
                text-align: center;
                padding: 0;
            }
        }
        .hazelder {
            img{
            overflow-x: auto;
            height: auto;
            width: 100%;
            padding: 0;
            margin-top: 1rem;
        }
    }
    }
    .box__prod{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
        .prodder{
            padding: 0;
            width: 90%;
            img{
                width:80%;
                height: auto;
            }
            h3{
                font-size: large;
                max-width: 80%;
            }
        }
        .prodleft{
            p{
                margin: 0;
                padding: 1rem;
                text-align: center;
            }
        }
    }
    .boxinterior{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        height: 300px;
    }
    .iconos__compra{
        display: block;
        margin: 0;
        padding: 0;
    }
    .box__galeria{
        padding: 1rem;
        margin: 0;
        h2{
            margin: 2rem;
        }
        .row{
            .column{
                flex:50%;
            }
        }
        .column_resp{
            display: none;
        }
    }
    .iconos__compra{
        margin-top: 3rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon icon",
        "icon icon";
        .icono{
            grid-area: "icon";
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0.5rem;
            font-family:sans-serif;
            padding: 0;
            font-size: small;
            background-color: #1859479f;
            border-radius: 2rem;
            height: 10rem;
            h3{
                padding: 0.1rem;
                font-size: medium;
                font-style: bold;
                color: #fff;
            }
            hr{
                display: none;
                h4{
                    color: #fff;
                }
            }
            .img__icon{
                display: none;
            }
        }
    }
    .footer{
        height: 20%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 8rem;
    }
    .footerlogo p{
        text-align: center;
    }
    .listafin{
        display: none;
    }
    .column{
        flex: 100%;
    }
    .column_resp{
        display: none;
    }
}

/* media query max 1023px - INDEX - tablet */
@media (min-width: 938px) and (max-width: 1023px){
    .main{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .box__prod{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        margin: 2rem;
    }
    .prodleft,.prodleft__p{
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
    .prodder h3{
        margin: 2rem;
    }
    .prodder{
        padding: 0;
        width: 90%;
    }
    .prodder img{
        width:80%;
    }
    .iconos__compra{
        margin-top: 3rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "icon icon",
        "icon icon";
        .icono{
            grid-area: "icon";
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0.5rem;
            font-family:sans-serif;
            height: max-content;
            padding: 0;
            font-size: small;
            background-color: #1859479f;
            border-radius: 2rem;
            height: 12rem;
            h3{
                padding: 0.1rem;
                font-size: medium;
                font-style: bold;
                color: #fff;
            }
            h4{
                color: aliceblue;
            }
        }
    }

    .img__icon{
        display: none;
    }
    .column{
        flex: 50%;
    }
}

/* media query pag galeria */

@media (min-width: 938px) and (max-width: 1023px){
    .column{
        flex: 50%;
    }
    .column_resp{
        display: none;
    }
}

/* media query pagina productos mobile */
@media(max-width: 767px){
    .body {
        margin: 0;
        padding: 0;
    }
    .main{
        margin: 0;
        padding: 0;
    }
    .prods__acordion{
        margin: 0;
        padding: 0;
    }
    .h2__org{
        padding-left: 1rem;
        font-size: small;
        margin: 0;
        padding: 0;
    }
    .pag__prod { 
        display: grid; 
        height: 100vh;
        margin: 0%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        gap: 0.5rem;
        grid-template-areas:
        "header"
        "h2__org"
        "productos"
        "footer";
        .container__prods{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "prod1 prod2"
            "prod4 prod5"
            "prod6 prod3";
            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }  
            .prod3{
                grid-area: prod3;
            }  
            .prod4{
                grid-area: prod4;
            }
            .prod5{
                grid-area: prod5;
            }
            .prod6{
                grid-area: prod6;
            }
            .div__img{
                width: auto;
                height: auto;
                align-self: center;
                justify-self: center;
                height: auto;
                padding: 0;
                margin: 0.5rem;
                .prod__img{
                    width: 100%;
                    height: 20rem;
                    margin: 0;
                    padding: 0;
                    img{
                        overflow-x: hidden;
                        overflow-y: hidden;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
                .prod__text{
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    background-color: #9867326e;
                    border-radius: 0px 0px 5px 5px;
                    h3{
                        font-size: 1.5rem;
                    }
                    p{
                        text-align: center;
                        margin: 0;
                    }
                    strong{
                        color: #986632;
                        background-color: #fff;
                        padding: 0.2rem;
                        border-radius: 0px 0px 5px 5px;
                        margin: 0;
                    }
                    button{
                        border: none;
                        background-color: #986632;
                        border-radius: 0px 0px 5px 5px;
                        a{
                            margin: 0;
                            padding: 0;
                            color:#ffffff;
                        }
                    }
                }
            }
        }
        .li__prods{
            display: none;
        }
    }
    .footer{
        height: 400px;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        align-self: end;
    }
    .footerlogo p{
        text-align: center;
    }
}

/* media query max 1023px - tablet  - pagina productos*/
@media (min-width: 768px) and (max-width: 1023px){
    .prods__acordion{
        margin: 0;
        padding: 0;
    }
}