@import 'vars';

/* dark mode */
body{
    transition: .3s ease all;
    &.darkMode{
        background-color: #454545;
        color: #fff;
        transition: .3s ease all;
        .container__prods{
            nav{
                .darkCarrito{
                    background-color: #252525ea;
                    #bodyCarrito{
                        div{
                            background-color: #4d3822;
                        }
                    }

                    }
                }
            }
            div{
                .box__prods{
                    div{
                        .card_prod-text{
                            strong{
                            color: #fff;
                            }
                        }
                    }
                }
            }
            .box__prods{
                div{
                    .card_prod-text{
                        strong{
                            color: #fff;
                        }
                    }
                }
            }
            .modal{
                .modal-content{
                    background-color: #986632;
                }
                .modal-dialog{
                    .modal-body{
                        .modal-footer{
                            p{
                                width: 80%;
                                text-align: end;
                                color: yellow;
                                padding-top: 1rem;
                            }
            }}
        }
    }
    }}

/* lihgt mode */
.header{
    nav{
        div{
            div{
            ul{
                .navSwitch{
                    .switchDarkMode{
                        background-color:#F2B705;
                        border-radius: 3rem;
                        cursor: pointer;
                        display: flex;
                        outline: none;
                        padding: 0.2rem;
                        position: relative;
                        &::after{
                            content: " ";
                            display: block;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            background: #252525;
                            top: 0;
                            left: 0;
                            right: unset;
                            border-radius: 4rem;
                            transition: .3s ease all;
                            box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
                        }
                        &.active{
                            background:#1B578C;
                            color: #252525;
                            &::after{
                                right: 0;
                                left: unset;
                            }
                        }
                        span{
                            width: 25px;
                            svg{
                                width: 20px;
                                height: 20px;
                                color: white;
                            }
                        }
                }
            }
        }
    }
}
}}
.container__prods{
    font-family: 'Raleway', bold;
    text-align: center;
    display: flex;
    flex-direction: column;
        h2{
            @extend .h2Var;
            text-align: center;
            width: 90%;
        }
        nav{
            border-radius: 0.5rem;
            width: 90%;
            background-color: #185947bd;
            padding: 0.5rem 2rem;
            justify-content: flex-start;
            .formclass{
                input{
                    &:focus{
                        box-shadow: none;
                        border: none;
                    }
                }
            }
            ul{
                select{
                    &:focus{
                        box-shadow: none;
                        border: none;
                    }
                    }
                }
            }
    }
    .div_loader{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 15rem auto;
        div{
            width: 1.5rem;
            height: 1.5rem;
            margin: 3rem .5rem;
            border-radius: 50%;
            background-color: $color__green;
            animation: loader-move .6s infinite alternate;
        }
        @keyframes loader-move {
            to{
                opacity: .1;
                transform: translate3d(0, -1rem, 0);
            }
        }
        div:nth-child(2){
            animation-delay: .2s;
        }
        div:nth-child(3){
            animation-delay: .4s;
        }
    }
    #busqueda{ 
        .prod404{
            font-size: 2rem;
            padding: 2rem;
            border-radius: 0.5rem;
            background-color: $color__bg;
            color: #fff;
            margin: 5rem 0 30rem 0;
            &::after{
                content: ", intentá nuevamete";
            }
        }
    }
    .modal{
        .modal-header{
            display: contents;
            .camioncito{
                margin-top: 1rem;
            }
            h1{
                font-size: large;
            }
            h3{
                font-size: medium;
            }
        }
        .modal-dialog{
            .modal-body{
                display: contents;
                form{
                    text-align: center;
                    width: 90%;
                    input, select{
                        margin: 0.5rem;
                        width: 90%;
                        height: 2rem;
                        border: none;
                        cursor: pointer;
                        border-radius: 10px;
                    }
                    span{
                        color: red;
                        border-color: red;
                        border-radius: 5px;
                    }
                    .modal-footer{
                        p{
                            width: 80%;
                            text-align: end;
                            color: red;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
    .box__prods{
        width: 100%;
        display: flex;
        gap: 32px;
        margin: 32px 0;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
            div{
                background-color: $color__bg;
                border-radius: 0.5rem;
                width: 30rem;
                height: auto;
                box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                .card_prod-img{
                    overflow: hidden;
                    height: 30rem;
                    border-radius: 0.5rem 0.5rem 0 0;
                    img{
                        width: 100%;
                        height: auto;
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .card_prod-text{
                    h5{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-style: bold;
                        color: white;
                        padding: 1rem 0;
                    }
                    p{
                        font-family: 'Comfortaa', cursive;
                        color: white;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    strong{
                        font-size: 1.5rem;
                        color: #185947;
                        text-shadow: #4d3822;
                    }
                    button{
                        margin: 1rem;
                        min-width: 130px;
                        height: 40px;
                        color: #fff;
                        padding: 5px 10px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        outline: none;
                        border-radius: 5px;
                        border: none;
                        background: #986632;
                        box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                        color: #ffffff;
                        &:active {
                            box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
                        }
                }
            }
        }
        
}


.footer{
    @extend .footerVar;
}
/* media query pagina productos mobile */
@media(max-width: 767px){
    .container__prods{
        font-family: 'Raleway', bold;
        text-align: center;
        display: flex;
        flex-direction: column;
            nav{
                border-radius: 0;
                margin: 0;
                padding: 0.5rem;
                width: 100%;
                justify-content: center;
                ul{
                    padding: 0.3rem;
                    li{
                        a{
                            text-decoration: none;
                            color: black;
                            padding: 0 0.5rem;
                            font-size: 1.3rem;
                            color: white;
                        }
                    }
                }
            }
        .box__prods{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            h3{
                width: 100%;
                margin: 1rem 0;
                padding: 1rem 0;
            }
            .box__prods-org,
            .box__prods-escr,
            .box__prods-ilu{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                justify-content: center;
                width: 100%;
                .card_prod{
                    background-color: $color__bg;
                    border-radius: 0;
                    margin: 1rem 0;
                    width: 100%;
                    height: 30rem;
                    box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                    .card_prod-img{
                        overflow: hidden;
                        height: 30rem;
                        width: 100%;
                        img{
                            width: 100%;
                            height: auto;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                    .card_prod-text{
                        margin: 1rem;
                        }
                        strong{
                            font-size: 1.5rem;
                            color: $color__green;
                            text-shadow: #4d3822;
                        }
                        button{
                            margin: 1rem;
                        }
                }
                }
            }
        }
    
    .footer_resp{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 2rem;
        padding: 1rem;
        .footericons{
            padding: 0;
            margin: 2rem 0;
        }
        .footerlogo{
            margin: 0;
        }
        .listafin{
            .ulistafin{
                display: none;
            }
        }
    }
}

/* media querys pag prods tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .footer{
        height: 400px;
        padding: 0;
        margin: 0;
        align-self: end;
    }
    .footerlogo p{
        text-align: center;
    }
}
