@import 'vars';

.container__prods{
    font-family: 'Raleway', bold;
    text-align: center;
    display: flex;
    flex-direction: column;
        h2{
            @extend .h2Var;
            text-align: center;
            width: 90%;
        }
        nav{
            border-radius: 0.5rem;
            width: 90%;
            background-color: #185947bd;
            ul{
                padding: 0.3rem;
                li{
                    a{
                        text-decoration: none;
                        color: black;
                        padding: 0.8rem;
                        font-size: 1.3rem;
                        color: white;
                        &:hover{
                            color: white;
                            background-color: $color__green;
                            border-radius: 0.5rem;
                        }
                    }
                }
            }
        }
    .box__prods{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        h3{
            font-size: 2rem;
            border-radius: 0.5rem;
            width: 90%;
            padding: 1rem;
            margin: 2rem 0;
            background-color: $color__bg;
            color: white;
        }
        .box__prods-org,
        .box__prods-escr,
        .box__prods-ilu{
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: center;
            .card_prod{
                background-color: $color__bg;
                border-radius: 0.5rem;
                margin: 1rem;
                width: 30rem;
                height: auto;
                box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                .card_prod-img{
                    overflow: hidden;
                    height: 30rem;
                    img{
                        width: 100%;
                        height: auto;
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .card_prod-text{
                    margin: 1rem;
                    h5{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-style: bold;
                        color: white;
                    }
                    p{
                        font-family: 'Comfortaa', cursive;
                        margin: 0.5rem 0;
                        padding: 0.5rem;
                        color: white;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    strong{
                        font-size: 1.5rem;
                        color: $color__green;
                        text-shadow: #4d3822;
                    }
                    button{
                        margin: 1rem;
                        min-width: 130px;
                        height: 40px;
                        color: #fff;
                        padding: 5px 10px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        outline: none;
                        border-radius: 5px;
                        border: none;
                        background: #986632;
                        box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                        color: #ffffff;
                        &:active {
                            box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
                        }
                }
            }
            }
        }
    }
}
.footer{
    @extend .footerVar;
}
/* media query pagina productos mobile */
@media(max-width: 767px){
    .container__prods{
        font-family: 'Raleway', bold;
        text-align: center;
        display: flex;
        flex-direction: column;
            nav{
                border-radius: 0;
                margin: 0;
                padding: 0.3rem;
                width: 100%;
                background-color: #185947bd;
                ul{
                    padding: 0.3rem;
                    li{
                        a{
                            text-decoration: none;
                            color: black;
                            padding: 0 0.5rem;
                            font-size: 1.3rem;
                            color: white;
                        }
                    }
                }
            }
        .box__prods{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            h3{
                width: 100%;
                margin: 1rem 0;
                padding: 1rem 0;
            }
            .box__prods-org,
            .box__prods-escr,
            .box__prods-ilu{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                justify-content: center;
                width: 100%;
                .card_prod{
                    background-color: $color__bg;
                    border-radius: 0;
                    margin: 1rem 0;
                    width: 100%;
                    height: 30rem;
                    box-shadow: 2px 2px 4px #4d3822, -1px -1px 3px #98673277;
                    .card_prod-img{
                        overflow: hidden;
                        height: 30rem;
                        width: 100%;
                        img{
                            width: 100%;
                            height: auto;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                    .card_prod-text{
                        margin: 1rem;
                        }
                        strong{
                            font-size: 1.5rem;
                            color: $color__green;
                            text-shadow: #4d3822;
                        }
                        button{
                            margin: 1rem;
                        }
                }
                }
            }
        }
    }
    .footer_resp{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 2rem;
        padding: 1rem;
        .footericons{
            padding: 0;
            margin: 2rem 0;
        }
        .footerlogo{
            margin: 0;
        }
        .listafin{
            .ulistafin{
                display: none;
            }
        }
    }


/* media querys pag prods tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .footer{
        height: 400px;
        padding: 0;
        margin: 0;
        align-self: end;
    }
    .footerlogo p{
        text-align: center;
    }
}
