@import 'vars';

.container__prods{
    .h2__prods{
        @extend .h2Var;
    }
    .box__prods{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;
        .card{ 
            img{
                width: 25rem;
                height: auto;
            }
        }
    }
}
    .footer { 
        margin-top: 10rem;
    }

    @media(max-width: 938px){
        .main{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            .container__prods{

                .box__prods{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 2rem;
                    gap: 2rem;
                    .card{
                        img{
                            width: 25rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }