@import 'vars';

.pag__who{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    .box__who{
        max-width: 70%;
        h2{
            @extend .h2Var;
            margin: 5rem;
        }
        hr{
            width: 100%;
            color: $color__green;
        }
        p{
            @extend .pVar;
        }
    }
}


.footer{
    @extend .footerVar;
}