$color__bg: #b8b8b8;
$color__text: #262626;
$color__green: #185947;
$color__brown: #986632;

.btnVar{
    min-width: 7.5rem;
    height: 2.5rem;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 0.3rem;
    border: none;
    font-family: 'Raleway';
    background-color: $color__brown;
    &:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left:8px;
    }
    &:hover:after {
        opacity: 1;
        right: 10px;
    }
    &:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
    }
}

.btncompraVar{
    margin: 1rem;
    min-width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #185947;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
    &:hover:after {
        height: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background: #185947;
    }
}

.pVar{
    font-family: 'Comfortaa', cursive;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
}

.h2Var{
    font-family: 'Raleway', bold;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
