$color__bg: #6d380075;
$color__text: #262626;
$color__green: #185947;
$color__brown: #986632;


.btnVar{
    min-width: 7.5rem;
    height: 2.5rem;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 0.3rem;
    border: none;
    font-family: 'Raleway';
    background-color: $color__brown;
    &:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left:8px;
    }
    &:hover:after {
        opacity: 1;
        right: 10px;
    }
    &:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
    }
}

.btncompraVar{
    margin: 1rem;
    min-width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #185947;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
    &:hover:after {
        height: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background: #185947;
    }
}

.pVar{
    font-family: 'Comfortaa', cursive;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.h2Var{
    font-family: 'Raleway', bold;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
    hr{
        border: solid 1px $color__green;
        width: 100%;
        
    }
}
.h3Var{
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
}
.footerVar{
    height: 20rem;
    width: 100%;
    margin-top: 10rem;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    .footericons{
        text-align: center;
        color: #b8b8b8;
        padding: 2rem;
        .encontranos{
            margin-top: 0px;
            margin-bottom: 1rem;
            letter-spacing: 0.1rem;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
        }
        svg{
            height: 2rem;
            width: auto;
            padding: 0.5rem;
            color: #b8b8b8;
            &:hover{
                color: #8C6C5A;
        }
    }
}
    .footerlogo{
        text-align: center;
        color: #b8b8b8;
        margin: 30px;
        a{
            padding: 0;
            color: #b8b8b8;
            font-size: 15px;
            text-decoration: none;
            transition: 0.3s;
            img{
                margin-bottom: 0;
                height: auto;
                width: 15rem;
                padding: 1rem;
            }
        }
        p{
            color: #b8b8b8;
            font-size: 15px;
            font-family: 'Comfortaa', cursive;
            margin-bottom: 0.5rem;
        }
        small{
            font-size: 0.7rem;
            font-family: 'Comfortaa', cursive;
        }
    }
    .listafin{
        padding: 2rem;
        color: #b8b8b8;
        ul{
            line-height: 1.5;
            li{
                list-style-type: none;
                text-align: left;
                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: #b8b8b8;
                    font-family: 'Comfortaa', cursive;
                    &:hover{
                        font-style: italic;
                }
            }
        }
    }
}
}