@charset "UTF-8";
.btnVar, .boxinterior button, .box__prod .prodleft button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .boxinterior button:hover, .box__prod .prodleft button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .boxinterior button:hover:after, .box__prod .prodleft button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .boxinterior button:after, .box__prod .prodleft button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .box__faq .box__aq .aq p, .box__contactanos p, .box__galeria p, .boxinterior p, .box__prod .prodleft p, .boxhazel .hazelizq p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .pag__prod .h2_prods, .box__faq h2, .box__contactanos h2, .box__galeria h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .pag__prod .h2_prods hr, .box__faq h2 hr, .box__contactanos h2 hr, .box__galeria h2 hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

/* styles de base */
* {
  margin: 0;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-right: 8rem;
}

/* INDEX */
/* BOX HAZEL */
.boxhazel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  background-color: white;
  color: #0D0D0D;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.boxhazel .hazelizq {
  margin: 2rem;
  flex-direction: column;
  line-height: 1.5;
  text-align: left;
}
.boxhazel .hazelizq h1 {
  margin: 1rem 0;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
}
.boxhazel .hazelizq p {
  text-align: left;
}
.boxhazel .hazelder {
  width: auto;
  height: 100%;
  overflow: hidden;
}
.boxhazel .hazelder img {
  height: 100%;
  width: auto;
  opacity: 0.7;
}

/* BOX PRODS INDEX */
.box__prod {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  background-color: rgba(184, 184, 184, 0.431372549);
  padding: 2rem 0 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0.3rem;
  padding: 4rem 2rem;
}
.box__prod .prodleft {
  text-align: left;
  margin-left: 1rem;
}
.box__prod .prodleft h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: left;
}
.box__prod .prodleft p {
  color: #262626;
}
.box__prod .prodleft button {
  margin: 1rem 0;
}
.box__prod .prodleft button a {
  text-decoration: none;
  color: #fff;
}
.box__prod .prodder {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 40%;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
}
.box__prod .prodder h3 {
  font-family: "Caveat", cursive;
  text-align: right;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.box__prod .prodder img {
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* BOX DISEÑO INT INDEX */
.boxinterior {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  background-color: rgba(184, 184, 184, 0.431372549);
  padding: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0.3rem;
}
.boxinterior h2 {
  font-family: "Raleway";
  text-transform: uppercase;
}
.boxinterior h3 {
  font-family: "Raleway", sans-serif;
  color: #262626;
  margin: 2rem;
}
.boxinterior button a {
  text-decoration: none;
  color: #fff;
}
.boxinterior p {
  text-align: center;
}

/* BOX GALERIA INDEX */
.box__galeria {
  background-color: #185947;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.box__galeria h2 {
  font-family: "Raleway";
  text-transform: uppercase;
}
.box__galeria p {
  text-align: center;
  color: #fff;
}
.box__galeria .row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.box__galeria .row .column {
  flex: 25%;
  padding: 5px;
}
.box__galeria .row .column img {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px;
}
.box__galeria .row .column img:hover {
  opacity: 0.4;
  box-shadow: #262626;
}

/* BOX MEDIOS DE PAGO INDEX */
.iconos__compra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.iconos__compra .icono {
  height: 20%;
  margin: 2rem;
  padding: 1rem;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.iconos__compra .icono h3 {
  color: #185947;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}
.iconos__compra .icono p {
  text-align: center;
  font-weight: 200;
  color: #262626;
  font-family: "Comfortaa", cursive;
  margin: 1rem;
}
.iconos__compra .icono img {
  height: 10rem;
  width: auto;
}

/* FOOTER */
/* pagina galeria */
.btnVar, .box__prod .prodleft button, .boxinterior button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .box__prod .prodleft button:hover, .boxinterior button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .box__prod .prodleft button:hover:after, .boxinterior button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .box__prod .prodleft button:after, .boxinterior button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .box__faq .box__aq .aq p, .box__contactanos p, .boxhazel .hazelizq p, .box__prod .prodleft p, .boxinterior p, .box__galeria p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .pag__prod .h2_prods, .box__faq h2, .box__contactanos h2, .box__galeria h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .pag__prod .h2_prods hr, .box__faq h2 hr, .box__contactanos h2 hr, .box__galeria h2 hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

.body__galeria {
  background-color: #185947;
}

.box__galeria {
  background-color: #185947;
  text-align: center;
  border-radius: 0;
  padding: 5rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.box__galeria p {
  text-align: center;
  font-family: "Comfortaa", cursive;
  color: #fff;
  letter-spacing: 0.1rem;
}
.box__galeria .row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.box__galeria .row .column {
  flex: 25%;
  padding: 5px;
}
.box__galeria .row .column img {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px;
}
.box__galeria .row .column img:hover {
  opacity: 0.4;
  box-shadow: #262626;
}

/* pagina contactanos */
.btnVar, .box__prod .prodleft button, .boxinterior button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .box__prod .prodleft button:hover, .boxinterior button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .box__prod .prodleft button:hover:after, .boxinterior button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .box__prod .prodleft button:after, .boxinterior button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .box__faq .box__aq .aq p, .box__contactanos p, .boxhazel .hazelizq p, .box__prod .prodleft p, .boxinterior p, .box__galeria p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .pag__prod .h2_prods, .box__faq h2, .box__contactanos h2, .box__galeria h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .pag__prod .h2_prods hr, .box__faq h2 hr, .box__contactanos h2 hr, .box__galeria h2 hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

/* pagina contactanos */
.box__contactanos {
  font-family: "Raleway", bold;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.box__contactanos h2 {
  text-align: center;
  width: 60%;
}
.box__contactanos p {
  letter-spacing: none;
  width: 60%;
  padding: 0.2rem;
  text-align: start;
}
.box__contactanos .box_form {
  width: 60%;
  margin: 2rem;
  background-color: rgba(109, 56, 0, 0.4588235294);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.box__contactanos .box_form label {
  text-transform: uppercase;
  color: black;
  margin: 1rem;
  font-size: 1.5rem;
}
.box__contactanos .box_form .item_form {
  width: 100%;
  margin: 2rem;
  border: none;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #185947;
  background: none;
  color: white;
}
.box__contactanos .box_form .item_text {
  padding: 0.5rem;
  min-height: 5rem;
  max-height: 10rem;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 1rem;
  background: none;
  color: white;
}
.box__contactanos .box_form .buton_send {
  width: 100%;
  color: white;
  background-color: #185947;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.box__contactanos .box_form .buton_send:hover {
  cursor: pointer;
  background-color: #185947;
}

/* contactanos mobile */
@media (max-width: 767px) {
  .box__contactanos h2 {
    width: 100%;
  }
  .box__contactanos p {
    width: 100%;
    padding: 0 1rem;
  }
  .box__contactanos .box_form {
    width: 100%;
    margin: 3rem 0;
    padding: 0;
    background-color: #185947;
    color: white;
    border-radius: 0;
  }
  .box__contactanos .box_form label {
    margin: 2rem 0;
    color: white;
  }
  .box__contactanos .box_form .item_form {
    color: white;
  }
  .box__contactanos .box_form .item_text {
    color: white;
  }
  .box__contactanos .box_form .buton_send {
    border-radius: 0;
    border: 1px solid;
    border-color: black;
  }
}
/* pagina FAQ preguntas*/
.btnVar, .box__prod .prodleft button, .boxinterior button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .box__prod .prodleft button:hover, .boxinterior button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .box__prod .prodleft button:hover:after, .boxinterior button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .box__prod .prodleft button:after, .boxinterior button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .box__faq .box__aq .aq p, .boxhazel .hazelizq p, .box__prod .prodleft p, .boxinterior p, .box__galeria p, .box__contactanos p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .pag__prod .h2_prods, .box__faq h2, .box__galeria h2, .box__contactanos h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .pag__prod .h2_prods hr, .box__faq h2 hr, .box__galeria h2 hr, .box__contactanos h2 hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

.box__faq {
  font-family: "Raleway", bold;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.box__faq h2 {
  text-align: center;
  width: 60%;
}
.box__faq .box__aq {
  display: flex;
  flex-direction: column;
}
.box__faq .box__aq .aq {
  background-color: rgba(109, 56, 0, 0.4588235294);
  border-radius: 0.5rem;
  width: 60%;
  margin: 1rem;
  padding: 1rem;
}
.box__faq .box__aq .aq h3 {
  margin: 1rem;
  padding: 1rem;
}
.box__faq .box__aq .aq p {
  margin: 1rem;
  padding: 1rem;
}
.box__faq .box__aq .aq p a {
  text-decoration: none;
  color: black;
}
.box__faq .box__aq .aq p a:hover {
  font-style: italic;
}

/* media querys pag faqs */
@media (max-width: 938px) {
  .mainfaq {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(109, 56, 0, 0.4588235294);
    color: white;
  }
  .mainfaq .box__faq h2 {
    width: 100%;
  }
  .mainfaq .box__faq p {
    width: 100%;
    padding: 0 1rem;
  }
  .mainfaq .box__faq .box__aq {
    margin: 0;
  }
  .mainfaq .box__faq .box__aq .aq {
    border-radius: 0;
    color: black;
    margin: 1rem;
    width: 100%;
  }
  .footer__resp {
    margin: 20rem;
    height: 30%;
    padding: 5rem;
  }
  .footer__resp .footerlogo p {
    text-align: center;
  }
  .footer__resp .listafin {
    display: none;
  }
}
/* pagina productos */
.btnVar, .box__prod .prodleft button, .boxinterior button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .box__prod .prodleft button:hover, .boxinterior button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .box__prod .prodleft button:hover:after, .boxinterior button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .box__prod .prodleft button:after, .boxinterior button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .boxhazel .hazelizq p, .box__prod .prodleft p, .boxinterior p, .box__galeria p, .box__contactanos p, .box__faq .box__aq .aq p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .pag__prod .h2_prods, .box__galeria h2, .box__contactanos h2, .box__faq h2 {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .pag__prod .h2_prods hr, .box__galeria h2 hr, .box__contactanos h2 hr, .box__faq h2 hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

.pag__prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.6fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "h2__org h2__org h2__org h2__org" "li__prods productos productos productos" "li__prods productos productos productos" "footer footer footer footer";
}
.pag__prod .h2_prods {
  grid-area: h2__org;
}
.pag__prod .li__prods {
  grid-area: li__prods;
  font-family: "Raleway", sans-serif;
  margin-top: 1rem;
  align-self: start;
}
.pag__prod .li__prods .boostrap__list {
  align-items: flex-start;
}
.pag__prod .li__prods .boostrap__list .prods__acordion {
  margin-left: 2rem;
  padding: 0 3rem;
}
.pag__prod .li__prods .boostrap__list .prods__acordion h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.pag__prod .list__boostrap {
  list-style-type: "└  ";
}
.pag__prod .list__boostrap li a {
  color: #0D0D0D;
  text-decoration: none;
}
.pag__prod .list__boostrap li a:hover {
  color: #185947;
  text-decoration: underline;
}
.pag__prod .container__prods {
  display: contents;
  flex-wrap: wrap;
  grid-area: productos;
}
.pag__prod .container__prods .div__img {
  align-self: start;
  justify-self: center;
}
.pag__prod .container__prods .div__img .prod__img {
  overflow: hidden;
  height: 25rem;
  width: 25rem;
  margin: 1rem;
}
.pag__prod .container__prods .div__img .prod__img img {
  align-self: flex-start;
  width: 100%;
}
.pag__prod .container__prods .div__img .prod__img:hover img {
  transform: scale(1.2);
}
.pag__prod .container__prods .div__img .prod__text {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
.pag__prod .container__prods .div__img .prod__text h3, .pag__prod .container__prods .div__img .prod__text p {
  margin: 1rem;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.pag__prod .container__prods .div__img .prod__text strong {
  color: #185947;
  margin: 2rem;
}
.pag__prod .container__prods .div__img .prod__text button a {
  text-decoration: none;
  color: #185947;
}
.pag__prod .container__prods .div__img .prod__text button a:hover {
  color: #fff;
}

.footer {
  grid-area: footer;
  margin-top: 10rem;
}

/* media queries */
.btnVar, .box__prod .prodleft button, .boxinterior button {
  min-width: 7.5rem;
  height: 2.5rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway";
  background-color: #986632;
}
.btnVar:hover, .box__prod .prodleft button:hover, .boxinterior button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnVar:hover:after, .box__prod .prodleft button:hover:after, .boxinterior button:hover:after {
  opacity: 1;
  right: 10px;
}
.btnVar:after, .box__prod .prodleft button:after, .boxinterior button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btncompraVar, .pag__prod .container__prods .div__img .prod__text button {
  margin: 1rem;
  min-width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #185947;
}
.btncompraVar:hover, .pag__prod .container__prods .div__img .prod__text button:hover {
  color: #fff;
  text-decoration: none;
}
.btncompraVar:hover:after, .pag__prod .container__prods .div__img .prod__text button:hover:after {
  height: 100%;
}
.btncompraVar:after, .pag__prod .container__prods .div__img .prod__text button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #185947;
}

.pVar, .boxhazel .hazelizq p, .box__prod .prodleft p, .boxinterior p, .box__galeria p, .box__contactanos p, .box__faq .box__aq .aq p {
  font-family: "Comfortaa", cursive;
  margin: 0.5rem 0;
}

.h2Var, .box__galeria h2, .box__contactanos h2, .box__faq h2, .pag__prod .h2_prods {
  font-family: "Raleway", bold;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.h2Var hr, .box__galeria h2 hr, .box__contactanos h2 hr, .box__faq h2 hr, .pag__prod .h2_prods hr {
  border: solid 1px #185947;
  width: 100%;
}

.h3Var, .box__faq .box__aq .aq h3 {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.footerVar, .footer {
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footerVar .footericons, .footer .footericons {
  text-align: center;
  color: #b8b8b8;
  padding: 2rem;
}
.footerVar .footericons .encontranos, .footer .footericons .encontranos {
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footerVar .footericons svg, .footer .footericons svg {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  color: #b8b8b8;
}
.footerVar .footericons svg:hover, .footer .footericons svg:hover {
  color: #8C6C5A;
}
.footerVar .footerlogo, .footer .footerlogo {
  text-align: center;
  color: #b8b8b8;
  margin: 30px;
}
.footerVar .footerlogo a, .footer .footerlogo a {
  padding: 0;
  color: #b8b8b8;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.footerVar .footerlogo a img, .footer .footerlogo a img {
  margin-bottom: 0;
  height: auto;
  width: 15rem;
  padding: 1rem;
}
.footerVar .footerlogo p, .footer .footerlogo p {
  color: #b8b8b8;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5rem;
}
.footerVar .footerlogo small, .footer .footerlogo small {
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin, .footer .listafin {
  padding: 2rem;
  color: #b8b8b8;
}
.footerVar .listafin ul, .footer .listafin ul {
  line-height: 1.5;
}
.footerVar .listafin ul li, .footer .listafin ul li {
  list-style-type: none;
  text-align: left;
}
.footerVar .listafin ul li a, .footer .listafin ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #b8b8b8;
  font-family: "Comfortaa", cursive;
}
.footerVar .listafin ul li a:hover, .footer .listafin ul li a:hover {
  font-style: italic;
}

/* media home index mobile */
@media (max-width: 938px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  /* termina nav */
  .boxhazel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .boxhazel .hazelizq {
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }
  .boxhazel .hazelizq h1 {
    font-size: 2rem;
    text-align: center;
  }
  .boxhazel .hazelizq p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0;
  }
  .boxhazel .hazelder img {
    overflow-x: auto;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
  .box__prod {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
  }
  .box__prod .prodder {
    padding: 0;
    width: 90%;
  }
  .box__prod .prodder img {
    width: 80%;
    height: auto;
  }
  .box__prod .prodder h3 {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 1rem;
  }
  .box__prod .prodleft {
    margin: 0;
    text-align: center;
  }
  .box__prod .prodleft h2 {
    text-align: center;
  }
  .box__prod .prodleft p {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .box__prod .prodleft button, .box__prod .prodleft a {
    border-radius: 5rem;
  }
  .boxinterior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 30%;
  }
  .boxinterior button {
    border-radius: 5rem;
  }
  .iconos__compra {
    display: block;
    margin: 0;
    padding: 0;
  }
  .box__galeria {
    padding: 1rem;
    margin: 0;
  }
  .box__galeria h2 {
    margin: 2rem;
  }
  .box__galeria .row .column {
    flex: 50%;
  }
  .box__galeria .column_resp {
    display: none;
  }
  .box__datoscompra {
    width: 100%;
    margin: 0;
  }
  .box__datoscompra .iconos__compra {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon icon", "icon icon";
  }
  .box__datoscompra .iconos__compra .icono {
    grid-area: "icon";
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0;
    font-size: small;
    background-color: rgba(24, 89, 71, 0.6235294118);
    border-radius: 0.5rem;
    height: 12rem;
    width: auto;
  }
  .box__datoscompra .iconos__compra .icono h3 {
    font-size: small;
    padding: 0.1rem;
    font-style: bold;
    color: #fff;
  }
  .box__datoscompra .iconos__compra .icono h3 hr {
    display: none;
  }
  .box__datoscompra .iconos__compra .icono p {
    font-size: small;
  }
  .box__datoscompra .iconos__compra .icono .img__icon {
    display: none;
  }
  .footer__resp {
    margin: 20rem;
    height: 30%;
    padding: 5rem;
  }
  .footer__resp .footerlogo p {
    text-align: center;
  }
  .footer__resp .listafin {
    display: none;
  }
}
/* media query max 1023px - INDEX - tablet */
@media (min-width: 938px) and (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .box__prod {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
  }
  .prodleft, .prodleft__p {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .prodder h3 {
    margin: 2rem;
  }
  .prodder {
    padding: 0;
    width: 90%;
  }
  .prodder img {
    width: 80%;
  }
  .iconos__compra {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon icon", "icon icon";
  }
  .iconos__compra .icono {
    grid-area: "icon";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-family: sans-serif;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    font-size: small;
    background-color: rgba(24, 89, 71, 0.6235294118);
    border-radius: 2rem;
    height: 12rem;
  }
  .iconos__compra .icono h3 {
    padding: 0.1rem;
    font-size: medium;
    font-style: bold;
    color: #fff;
  }
  .iconos__compra .icono h4 {
    color: aliceblue;
  }
  .img__icon {
    display: none;
  }
  .column {
    flex: 50%;
  }
}
/* media query pag galeria */
@media (max-width: 938px) {
  .box__galeria {
    border-radius: 0;
  }
}
@media (min-width: 938px) and (max-width: 1023px) {
  .box__galeria {
    border-radius: 0;
  }
  .column {
    flex: 50%;
  }
  .column_resp {
    display: none;
  }
}
/* media query pagina productos mobile */
@media (max-width: 767px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .main {
    margin: 0;
    padding: 0;
  }
  .prods__acordion {
    margin: 0;
    padding: 0;
  }
  .h2__org {
    padding-left: 1rem;
    font-size: small;
    margin: 0;
    padding: 0;
  }
  .pag__prod {
    display: grid;
    height: 100vh;
    margin: 0%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem;
    grid-template-areas: "header" "h2__org" "productos" "footer";
  }
  .pag__prod .container__prods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "prod1 prod2" "prod4 prod5" "prod6 prod3";
  }
  .pag__prod .container__prods .prod1 {
    grid-area: prod1;
  }
  .pag__prod .container__prods .prod2 {
    grid-area: prod2;
  }
  .pag__prod .container__prods .prod3 {
    grid-area: prod3;
  }
  .pag__prod .container__prods .prod4 {
    grid-area: prod4;
  }
  .pag__prod .container__prods .prod5 {
    grid-area: prod5;
  }
  .pag__prod .container__prods .prod6 {
    grid-area: prod6;
  }
  .pag__prod .container__prods .div__img {
    width: auto;
    height: auto;
    align-self: center;
    justify-self: center;
    height: auto;
    padding: 0;
    margin: 0.5rem;
  }
  .pag__prod .container__prods .div__img .prod__img {
    width: 100%;
    height: 20rem;
    margin: 0;
    padding: 0;
  }
  .pag__prod .container__prods .div__img .prod__img img {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .pag__prod .container__prods .div__img .prod__text {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgba(152, 103, 50, 0.431372549);
    border-radius: 0px 0px 5px 5px;
  }
  .pag__prod .container__prods .div__img .prod__text h3 {
    font-size: 1.5rem;
  }
  .pag__prod .container__prods .div__img .prod__text p {
    text-align: center;
    margin: 0;
  }
  .pag__prod .container__prods .div__img .prod__text strong {
    color: #986632;
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
  }
  .pag__prod .container__prods .div__img .prod__text button {
    border: none;
    background-color: #986632;
    border-radius: 0px 0px 5px 5px;
  }
  .pag__prod .container__prods .div__img .prod__text button a {
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  .pag__prod .li__prods {
    display: none;
  }
  .footer {
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    align-self: end;
  }
  .footerlogo p {
    text-align: center;
  }
}
/* media query max 1023px - tablet  - pagina productos*/
@media (min-width: 768px) and (max-width: 1023px) {
  .prods__acordion {
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */