/* comentario que compila */
//este no compila
@import 'vars';
*{
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
/* styles de base */
.main{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-right: 8rem;
}
/* header */
.mi__header{
    display: flex;
    width: 100%;
    height: 5rem;
    background-color:#b8b8b8;
    border-radius: 0;
    justify-content:space-around;
    align-items: center;
    margin: 0;
    padding: 2.5rem;
    flex-direction: row;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    a img{
        height: 4rem;
        width: auto;
    }
    nav{
        ul{
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                padding: 0;
                margin: 1rem;
                a{
                    color: #fff;
                    text-decoration: none;
                    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                    &:hover{
                        --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
                        color: #fff;
                    }
                    &:after{
                        content: "";
                        color: #185947;
                        display: block;
                        background: #fff;
                        width: 100%;
                        margin-top: 3px;
                        height: 3px;
                        clip-path: var(--clippy);
                        transition: clip-path .3s;
                    }
                }
            }
        }
        }
    button {        
        @extend .btnVar;
        a{
        text-decoration: none;
        color: #fff;
    }
    }
}
/* TENGO QUE APLICAR LOS MIXIN DE BOTON */


/* BOX HAZEL */
.boxhazel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    color: #0D0D0D;
    margin-bottom: 5rem;
    margin-top: 5rem;
    .hazelizq{
        margin: 2rem;
        flex-direction: column;
        line-height: 1.5;
        text-align: left;
        h1{
            margin: 1rem 0;
            font-family: 'Raleway', sans-serif;
            font-size: 4rem;
        } //aca puedo aplicar mixin de h1
        p {
            @extend .pVar;
            text-align: left;
        }
    }
    .hazelder{
        width: auto;
        height: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: auto;
            opacity: 0.7;
        }
    }
}

/* BOX PRODS INDEX */
.box__prod{ //mixin de cajas**
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
    padding: 4rem 2rem;
    .prodleft{
        align-self: center;
        justify-self: start;
        margin-left: 1rem;
        h2{
            @extend .h2Var;
        }
        p{
            @extend .pVar;
            color: $color__text;
        }
        button{
            a {text-decoration: none;
            color: #fff}
            @extend .btnVar;
        }
    }
    .prodder{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 40%;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 2rem;
        margin: 1rem;
        h3{
            font-family: 'Caveat', cursive;
            text-align: right;
            padding: 10px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        img{
            padding: 0;
            width:100%;
            height: auto;
            border-radius: 0.5rem;
        }
    }
}

/* BOX DISEÑO INT INDEX */
.boxinterior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
    h2{
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    h3{
        font-family: 'Raleway', sans-serif;
        color: #262626;
        margin: 2rem;
    }
    button{
        @extend .btnVar;
    }
    p{
        @extend .pVar;
        text-align: center;
    }
}

/* BOX GALERIA INDEX */
.box__galeria{
    background-color: #185947;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    h2{ //mixin h2
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    p{
        @extend .pVar;
        text-align: center;
        color: #fff;
    }
    .row{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        .column {
            flex: 25%;
            padding: 5px;
            img{
            width: 100%;
            border-radius: 20px;
            margin-top: 5px;
            padding: 10px;
            &:hover{
                opacity: 0.4;
                box-shadow: #262626;
            }
        }
    }
}
}

/* BOX MEDIOS DE PAGO INDEX */
.iconos__compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .icono{
        height: 20%;
        margin: 2rem;
        padding: 1rem;
        font-family:sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        h3{
            color: #185947;
            font-weight: 600;
            font-size: 1.5rem;
            padding: 1rem;
            font-family: 'Raleway', sans-serif;
        }
        h4{
            text-align: center;
            font-weight: 200;
            color: #262626;
            font-family: 'Comfortaa', cursive;
            margin: 1rem;
        }
        img{
            height: 10rem;
            width: auto;
        }
    }
}

/* FOOTER */
.footer{
    height: 20rem;
    width: 100%;
    margin-top: 10rem;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    .footericons{
        text-align: center;
        color: #b8b8b8;
        padding: 2rem;
        .encontranos{
            margin-top: 0px;
            margin-bottom: 1rem;
            letter-spacing: 0.1rem;
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
        }
        svg{
            height: 2rem;
            width: auto;
            padding: 0.5rem;
            color: #b8b8b8;
            &:hover{
                color: #8C6C5A;
        }
    }
}
    .footerlogo{
        text-align: center;
        color: #b8b8b8;
        margin: 30px;
        a{
            padding: 0;
            color: #b8b8b8;
            font-size: 15px;
            text-decoration: none;
            transition: 0.3s;
            img{
                margin-bottom: 0;
                height: auto;
                width: 15rem;
                padding: 1rem;
            }
        }
        p{
            color: #b8b8b8;
            font-size: 15px;
            font-family: 'Comfortaa', cursive;
            margin-bottom: 0.5rem;
        }
        small{
            font-size: 0.7rem;
            font-family: 'Comfortaa', cursive;
        }
    }
    .listafin{
        padding: 2rem;
        color: #b8b8b8;
        ul{
            line-height: 1.5;
            li{
                list-style-type: none;
                text-align: left;
                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: #b8b8b8;
                    font-family: 'Comfortaa', cursive;
                    &:hover{
                        font-style: italic;
                }
            }
        }
    }
}
}
.pag__prod {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.6fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header"
    "h2__org h2__org h2__org h2__org"
    "li__prods productos productos productos"
    "li__prods productos productos productos"
    "footer footer footer footer";
    .li__prods { 
        grid-area: li__prods; 
        font-family: 'Raleway', sans-serif;
        margin-top: 1rem;
        align-self: start;
    }
}
.h2__org { 
    grid-area: h2__org;
    font-weight: 4rem;
    text-align: center;
    align-self:center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #18594757; 
    font-style: bold;
}
.prods__acordion{
    margin-left: 2rem;
    padding: 0 3rem;
}
.prod__acordion-h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.boostrap__list{
    align-items: flex-start;
}
.list__boostrap{
    list-style-type: "└  ";
}
.list__boostrap li a{
    color: #0D0D0D;
    text-decoration: none;
}
.list__boostrap li a:hover{
    color: #185947;
    text-decoration: underline;
}
.container__prods{
    grid-area: productos;
    display: contents;
    flex-wrap: wrap;
}
.div__img{
    align-self: start;
    justify-self: center;
}
.prod__img{
    overflow: hidden;
    height: 25rem;
    width: 25rem;
    margin: 1rem;
}
.prod__img:hover img{
    transform:scale(1.2);
}
.prod__img img{
    align-self: flex-start;
    width: 100%;
}
.prod__text{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.prod__text h3, p{
    margin: 1rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
.prod__text strong{
    color: #185947;
    margin: 2rem;
}

/* media queries */
@import 'mediaqueries';