
@import 'vars';

/* styles de base */
*{
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-right: 8rem;
}

/* BOX HAZEL */
.boxhazel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background-color: white;
    color: #0D0D0D;
    margin-bottom: 5rem;
    margin-top: 5rem;
    .hazelizq{
        margin: 2rem;
        flex-direction: column;
        line-height: 1.5;
        text-align: left;
        h1{
            margin: 1rem 0;
            font-family: 'Raleway', sans-serif;
        } //aca puedo aplicar mixin de h1
        p {
            @extend .pVar;
            text-align: left;
        }
    }
    .hazelder{
        width: auto;
        height: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: auto;
            opacity: 0.7;
        }
    }
}

/* BOX PRODS INDEX */
.box__prod{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
    padding: 4rem 2rem;
    .prodleft{
        text-align: left;
        margin-left: 1rem;
        h2{
            font-family: 'Raleway', bold;
            font-weight: 300;
            font-size: 2.5rem;
            text-transform: uppercase;
            margin: 2rem 0;
            text-align: left;
        }
        p{
            @extend .pVar;
            color: $color__text;
        }
        button{
            a {text-decoration: none;
            color: #fff}
            @extend .btnVar;
            margin: 1rem 0;
        }
    }
    .prodder{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 40%;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 2rem;
        margin: 1rem;
        h3{
            font-family: 'Caveat', cursive;
            text-align: right;
            padding: 10px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        img{
            padding: 0;
            width:100%;
            height: auto;
            border-radius: 0.5rem;
        }
    }
}

/* BOX DISEÑO INT INDEX */
.boxinterior{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #b8b8b86e;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.3rem;
    h2{
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    h3{
        font-family: 'Raleway', sans-serif;
        color: #262626;
        margin: 2rem;
    }
    button{
        a {text-decoration: none;
            color: #fff}
            @extend .btnVar;
    }
    p{
        @extend .pVar;
        text-align: center;
    }
}

/* BOX GALERIA INDEX */
.box__galeria{
    background-color: #185947;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    h2{ //mixin h2
        font-family: 'Raleway';
        text-transform: uppercase;
    }
    p{
        @extend .pVar;
        text-align: center;
        color: #fff;
    }
    .row{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        .column {
            flex: 25%;
            padding: 5px;
            img{
            width: 100%;
            border-radius: 20px;
            margin-top: 5px;
            padding: 10px;
            &:hover{
                opacity: 0.4;
                box-shadow: #262626;
            }
        }
    }
}
}

/* BOX MEDIOS DE PAGO INDEX */
.iconos__compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .icono{
        height: 20%;
        margin: 0;
        padding: 1rem;
        font-family:sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        h3{
            color: #185947;
            font-weight: 600;
            font-size: 1.5rem;
            padding: 1rem;
            font-family: 'Raleway', sans-serif;
        }
        p{
            text-align: center;
            font-weight: 200;
            color: #262626;
            font-family: 'Comfortaa', cursive;
            margin: 1rem;
        }
        img{
            height: 10rem;
            width: auto;
        }
    }
}

/* FOOTER */
.footer{
    @extend .footerVar;
}

/* pagina galeria */
@import 'galeria';

/* pagina contactanos */
@import 'contactanos';

/* pagina FAQ preguntas*/
@import 'faqs';

/* pagina productos */
@import 'productos';

/* media queries */
@import 'mediaqueries';